* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

:root {
    --primary-color: hsl(160deg, 100%, 30%);
    --secondary-color-400: hsl(45deg, 100%, 50%);
    --secondary-color-500: hsl(45deg, 100%, 40%);
    --white: hsl(0deg, 0%, 100%);
    --gray-200: hsl(0deg, 0%, 60%);
    --gray-400: hsl(0deg, 0%, 40%);
    --gray-500: hsl(0deg, 0%, 30%);
    --gray-700: hsl(0deg, 0%, 10%);
    --black: hsl(0deg, 0%, 0%);
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 1.0rem;
}

header {
    border-bottom: 0.5rem solid var(--gray-200);

}

.max-width-wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

.intro-chunk {
    padding: 0 4rem 4rem 4rem;
    background-color: var(--white);
}

.intro-chunk h1 {
    color: var(--gray-500);
    font-size: 2.5rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.intro-chunk p {
    color: var(--gray-400);
    font-size: 1.1rem;
    margin-bottom: 2rem;
}

.intro-chunk strong {
    color: var(--primary-color);
}

main {
    background-color: var(--gray-400);
    height: 100%;
}

main section {
    padding: 2.25rem 4rem;
}

main .card {
    background-color: var(--white);
    padding: 1.25rem;
    border-bottom: 0.5rem solid var(--gray-200);
}

main .card  .indented-heading{
    box-sizing: content-box;
    overflow: visible;
    background-color: var(--secondary-color-400);
    padding: 1.25rem;
    border-bottom: 0.5rem solid var(--secondary-color-500);
    margin-left: -1.25rem;
}

main .card p {
    color: var(--gray-400);
    font-size: 1.1rem;
}
